.para2{
    margin-top: 582px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.desktop-14 {
  /* position: relative; */
  width: 100%;
  height: auto;
  overflow: hidden;
  /*background-image: url(../../public/desktop--5@3x.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}







@media only screen and (max-width: 600px) {
.para2{
    margin-top: 303px;
    width: 402px;
}
















}



